::ng-deep .blog-text {
  font-size: 1.5rem;

  blockquote {
    display: block;
    margin: 1rem auto;
    text-align: center;
    max-width: 900px;
  }

  img {
    display: block;
    margin: 1rem auto;
    text-align: center;
    min-width: 75%;
  }
}
