<app-client-header></app-client-header>
<div class="p-grid">
  <div class="p-grid p-xl-10 p-lg-10 p-md-12 p-sm-12 p-mx-auto p-my-3">
    <div class="card">
      <p-dataView
        *ngIf="posts"
        [value]="posts"
        [paginator]="true"
        [rows]="6"
        layout="grid"
        [totalRecords]="posts.length"
      >
        <ng-template pTemplate="header">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-center">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </ng-template>
        <ng-template let-post pTemplate="listItem">
          <div class="p-col-12">
            <div class="post-list-item">
              <img [src]="post?.imageURL" [alt]="post?.title" />
              <div class="post-list-detail">
                <div class="post-title">{{ post?.title }}</div>
                <div class="post-summary">
                  {{ post?.createdDate | date }}
                </div>
                <div class="post-summary">{{ post?.summary }}</div>
                <p-tag [value]="post?.category" [rounded]="true"></p-tag>
              </div>
              <div class="product-list-action">
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Read now"
                  class="p-button-outlined p-button-info w-100p p-my-3"
                  [routerLink]="'./' + post?.slug"
                ></button>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template let-post pTemplate="gridItem">
          <div class="p-col-12 p-md-4">
            <div class="post-grid-item card">
              <div class="post-grid-item-content">
                <img [src]="post?.imageURL" [alt]="post?.title" />
                <div class="post-title">{{ post?.title }}</div>
                <div class="post-summary">
                  {{ post?.createdDate | date }}
                </div>
                <div class="post-summary">{{ post?.summary }}</div>
                <p-tag [value]="post?.category" [rounded]="true"></p-tag>
                <button
                  pButton
                  pRipple
                  type="button"
                  label="Read now"
                  class="p-button-outlined p-button-info w-100p p-my-3"
                  [routerLink]="'./' + post?.slug"
                ></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
